// 全局标签样式重置

// 全局重置
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
em{font-style:normal}
ul,ol,li{list-style:none}
fieldset, img { border:none; }
address, cite, dfn, em, var { font-style:normal; }
table { border-collapse:collapse; border-spacing:0; } 