$blue:#324157;
$light-blue:#3A71A8;

$globalBgColor:#E4EBF3;

// 个别字体颜色
$red:#C03639; 


// 导航部分样式
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;
 
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

@mixin scrollBar {
    &::-webkit-scrollbar {
      width: 8px;
      height: 10px; 
    }
  
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    } 
  
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: 0.3);
      border-radius: 1.5px; 
    }
} 