
table,table tr th, table tr td { border:1px solid #dedede;font-size: 12px;padding:2px 5px; }
table {min-height: 34px;width:100%; line-height: 34px; text-align: center; border-collapse: collapse; background:#fff}
.tab-l{
  text-align: left;
}
.tab-td-w{
    width :25%
}
.detailBtn{
    margin-right: 73px;
    color: #656766;
    
}
.warning{
    padding: 0 46px;
    .item-tit ,.item-tip{
        font-size:  14px;
        line-height: 33px;
        text-indent: 38px;
    }
    .item-tit {
        background-color: #d6dbe1;
        .light{
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-left: 20px;
        }  
    }
    .item-tip{
        margin-top: 5px;
    }
    .greenBg{
        background: #bef8ae!important;
    }
    .yellowBg{
        background: #f6ed86!important;
    }
    .redBg{
        background: #f7afb3!important;
    }
    ::v-deep{
        .el-collapse-item__header, .el-collapse-item__header.is-active, .el-collapse-item__wrap{
            border: 0;
        }
        .el-collapse-item{
            margin: 20px 0;
        }
        .collapse-title{
            span{

                background: #319ef3;
                width: 3px;
                height: 14px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .el-collapse-item__arrow{
            margin: 0;
        }
        .el-collapse-item__content{
            padding-bottom:0;
            font-size:12px;
            line-height: 32px;
            color: #666666;
            .el-col-12, .el-col-24{
                display: flex;
                justify-content: center;
                span{
                    color: #000000;
                    min-width: 170px;
                    display: inline-block;
                    text-align: right;
                    margin-right: 29px;
                }
                em{
                    width: 92%;
                    display: inline-block;
                }
            }
            .el-col-24{
                span{
                    min-width: 180px!important;
                }
            }
            .NoticeContent{
                border:1px solid #dedede;
                padding:50px 132px ;
                max-height: 300px;
                overflow-y: scroll;
            }
            table{
                th{
                    color: #333333;
                    font-size: 13px;
                    background: #eceff4;
                }
                .wid20{
                    max-width: 20%;
                }
                .width15{
                    max-width: 70px;
                }
                .wid50{
                    width: 50%;
                }
                .wid60{
                    min-width: 60%;
                }
            }
        }
    }
}